<h3><strong style="color: red;">{{title}}</strong></h3>

<div class="panel-body"
    style="height: 250px; overflow-y: scroll;border-top: 1px #efefef solid;border-bottom: 1px #efefef solid;">

    <ng-container *ngFor="let item of data;let i = index">

        <div style="width: 95%;display: flex;justify-content: flex-end;margin-top: 10px;">
            <strong style="color: red;">当前排名：{{item.ranking}}，您已出价{{num}}次。</strong>
        </div>

        <nz-descriptions nzTitle="" nzBordered [nzSize]="'small'" style="margin: 10px;"
            [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }">

            <nz-descriptions-item nzTitle="材料名称（规格）">
                <div>{{item.productName}}（{{item.specifications}}）</div>
            </nz-descriptions-item>

            <!-- <nz-descriptions-item nzTitle="当前排名">
                <strong style="color: red;">{{item.ranking}}</strong>
            </nz-descriptions-item> -->

            <nz-descriptions-item nzTitle="税前材料报价">
                <div>{{item.price}}</div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="材料税率">
                <div>{{item.quotedPriceTax}}</div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="税后材料报价">
                <div>{{item.offerPrice}}</div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="税前运费">
                <div>{{item.freightPrice}}</div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="运费税率">
                <div>{{item.freightQuotedTax}}</div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="税后运费">
                <div>{{item.freightQuotedPrice}}</div>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="税后总报价">
                <strong style="color: red;">{{item.quotedPrice}}</strong>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="结算方式">
                <div>{{item.settlement}}</div>
            </nz-descriptions-item>

        </nz-descriptions>

    </ng-container>
    <!-- <div style="width: 90%;display: flex;justify-content: flex-end;margin-bottom: 20px;">
        <strong style="color: red;">您已出价{{num}}次</strong>
    </div> -->

</div>