h3 {
    text-align: center;
}

.scroll {
    overflow-y: scroll;
    height: 300px;
    width: auto;
    border-top: 0.5px solid #efefef;
    border-bottom: 0.5px solid #efefef;
}

nz-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}